body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header, footer,.fcont{
    background-color: #1F2937;
    color: #FFF;
}

.main{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.header li,.fcont h2{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

button, .focont{
    background-color: #3882F6;
}

.scont h1{
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.tcont{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-style: italic;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.fcont{
    display: flex;
    justify-content: space-around;
    padding: 24px;
    align-items: center;
}
.fcont .left{
    max-width: 500px;
}

.fcont img{
    background-color: gray;
    width: 500px;
    height: 200px;
    text-align: center;
}


.scont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.scont .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scont img{
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.tcont{
    padding : 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    max-width: 800px;
}
.signature{
    text-align: right;
}

.focont{
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

button{
    color: white;
    border-radius: 20px;
    border-width: 0;
}

.focont button{
    border: 2px solid white;
    color: white;
}

footer{
    text-align: center;
}

